body {
	font-family: Arial, Verdana,  sans-serif;
	font-size: 12pt; /* Размер основного шрифта в пунктах  */
	background-color: #FFFFFF; /* Цвет фона веб-страницы */
	color: #333; /* Цвет основного текста */ 
}
h1 {
	color: #000000; 
	font-size: 20pt; 
	font-family: Georgia, Times, serif; 
	font-weight: normal;
	text-align: center;
}
h2 {
	color: #000000; 
	font-size: 15pt; 
	font-family: Georgia, Times, serif; 
	font-weight: normal;
	margin-right: 62%; 
	text-align: right;
}
h3 {
	color: #A0522D; 
	font-size: 12pt; 
	font-family: Georgia, Times, serif; 
	font-weight: normal;
	margin-left: 62%; 
	text-align: left;
}

.treeCSS, 
.treeCSS ul,
.treeCSS li {
  margin: 0;
  padding: 0;
  line-height: 1;
  list-style: none;
}
.treeCSS ul {
  margin: 0 0 0 .5em; /* вести линию вниз где-то с полбуквы родителя */
}
.treeCSS > li:not(:only-child),
.treeCSS li li {
  position: relative;
  padding: .2em 0 0 1.2em; /* отступ до текста; для раскрывающегося списка в ряде случаев (в Хроме есть баг) padding-top (.2em) лучше указывать в px */
}
.treeCSS li:not(:last-child) {
  border-left: 2px solid #000000; /* толщина, цвет и стиль (вместо сплошной пунктирная или точечная) вертикальной линии */
}
.treeCSS li li:before,
.treeCSS > li:not(:only-child):before { /* горизонтальная линия */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.1em; /* не более отступа до текста (1.2em) */
  height: .7em; /* начинается приблизительно с половины высоты буквы (.5em + .2em) */
  border-bottom: 2px solid #000000;
}
.treeCSS li:last-child:before { /* вертикальная линия последнего пункта в каждом списке */
  width: calc(1.1em - 1px); /* для перфекционистов */
  border-left: 2px solid #000000;
}

a:link {
 	text-decoration: none; /* Убирает подчеркивание для ссылок */
   	color:#000000;
 
}
a:visited { 	
	text-decoration: none; /* Убирает подчеркивание для ссылок */
   	color:#000000;
}
a:hover {
 	border-bottom: 1px solid red
}
a:active {
 	text-decoration: none; /* Убирает подчеркивание для ссылок */
   	color:#000000;
}

